.question {
  margin-bottom: 2rem;
  animation: fadeIn 1s ease-in-out;
}

.question p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #e8e8e8;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 1rem;
}

input[type="radio"] {
  margin-right: 1rem;
}

label {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #e8e8e8;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
